.pio
include
CMakeListsPrivate.txt
cmake-build-*/
README*
.DS_Store
.idea
schematics/Schematics.pro
schematics/Schematics.sch-bak
schematics/Schematics-cache.lib
lib/
schematics/fp-info-cache
schematics/fp-lib-table
schematics/Schematics.kicad_pcb*
schematics/sym-lib-table
schematics/Schematics.net

